*, *:before, *:after {
  box-sizing: border-box;
}
/* Mobile first */
body {
  font: normal normal 16px sans-serif;
  line-height: 1.5;
  background-color: pink;
  color: #171617;
}
/* Typo */
p {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-size: 1em;
  line-height: 1.5;
}
h1 {
  font-size: 1.875em;
  line-height: 1.2;
  font-family: serif;
  margin-top: 0.88889em;
  margin-bottom: 0.44444em;
}
h2 {
  font-size: 1.5em;
  line-height: 1.5;
  font-family: serif;
  margin-top: 1.33333em;
  margin-bottom: 0.66667em;
}
h3 {
  font-size: 1.3125em;
  line-height: 1.14286;
  margin-top: 2em;
  margin-bottom: 1em;
}
blockquote p {
  quotes: '\201c' '\201d' '\2018' '\2019';
  font: italic bold 1.5em serif;
  line-height: 1.5;
  margin-bottom: 0;
}
blockquote p::before {
  content: open-quote;
}
blockquote p::after {
  content: close-quote;
}
time {
  
}

/* Elements */
.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
.site-header--title {
  font-family: serif;
  font-size: 3.375em;
  text-transform: uppercase;
  margin: 0;
}
.site-header--navigation .site-navigation--items {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}
.site-content article {
  padding: 0 1.125em;
}
.blog-post--title a {
  text-decoration: none;
  outline: 0;
  color: #171617;
}
.blog-post--title a:active, .blog-post--title a:hover, .blog-post--title a:active {
  outline: 0;
  color: #000;
}
.blog-post--readmore {
  display: flex;
  justify-content: flex-end;
}
.blog-post--readmore a {
  display: inline-block;
  cursor: pointer;
  padding: 8px;
  border-radius: 2x;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.54);
  text-decoration: none;
}
.blog-post--readmore a:hover {
  background-color: rgba(0,0,0,.12);
}
.ctrl_blog .blog-post--excerpt {
  text-transform: uppercase;
  font: italic normal 1em sans-serif;
  font-weight: 700;
}
.blog-post--header {
  margin-bottom: 1.5em;
}
.site-footer {
  background-color: #171617;
  color: #fff;
  min-height: 75px;
}

@media (min-width: 43em) {
  /* Landscape large phone, tablet portrait */
  body {
    background-color: red;
  }
  h1 {
    
  }
}
@media (min-width: 62em) {
  /* Landscape tablet, portrait large tablet */
  body {
    background-color: blue;
  }
  .site-header {
    justify-content: space-between;
    padding: 0 2em;
  }
  .site-content {
    display: flex;
    width: 60em;
    justify-content: center;
    margin: 0 auto;
  }
  .site-content--blogposts {
    width: 40em;
  }
  .site-sidebar {
    width: 20em;
    align-items: stretch;
    padding-top: 0.88889em;
  }
}
@media (min-width: 82em) {
  /* Landscape large tablet, desktop */
  body {
    background-color: yellow;
  }
}