* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal normal 16px sans-serif;
}

.site-header {
  display: flex;
  height: 100px;
  align-items: center;
  padding: 2em 0;
  justify-content: center;
}

.site-title {
  font-weight: 900;
  text-transform: uppercase;
  font-family: serif;
  transform: translateY(0.00596em);
  color: #171617;
}

.site-navigation--items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.site-navigation--items-item {
  margin: 0 1em;
}

.site-content {
  display: flex;
  justify-content: center;
  width: 60em;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.blog-post {
  width: 30em;
  padding: 1em;
}

.blog-post--title {
  font: normal normal 48px serif;
  line-height: 1.33333;
  color: #171617;
}

.blog-post--title a {
  text-decoration: none;
  color: #171617;
}

.blog-post--time {
  font: normal normal 36px serif;
  color: #58c6c2;
}

.blog-post--first {
  width: 60em;
}

.ctrl_index .blog-post--excerpt {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  line-height: 1.8;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  font-family: sans-serif;
}

.blog-post--readmore {
  display: flex;
  justify-content: flex-end;
}

.blog-post--readmore a {
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 2px;
  padding: 8px;
  color: rgba(0, 0, 0, 0.54);
  font: normal normal 14px sans-serif;
  text-decoration: none;
}

.blog-post--readmore a:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

/* Post View */

.ctrl_blog .blog-post {
  width: 40em;
}

.ctrl_blog .blog-aside {
  width: 20em;
}

.blog-post--content {
  font: normal normal 16px sans-serif;
  line-height: 2;
  color: #171617;
}

.blog-post--content::first-letter {
  float: left;
  font-size: 64px;
  font-weight: 600;
  line-height: 1;
  margin-right: 16px;
  font-family: serif;
  color: #58c6c2;
}

/* Typo */

.site-header h1 {
  color: #171617;
  font-size: 3.375em;
  line-height: 1.11111;
  font-weight: 900;
  text-transform: uppercase;
}

